<strong>Olá, {{ organizer }} </strong>
<strong><p>Houve um novo escrito para o seu meetup!</p></strong>
<p>Confira os detalhes do participante abaixo:</p>
<p>
  <strong>Participante: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <strong>Meetup: </strong> {{ meetupName }} <br />
  <strong>Data/hora do Meetup: </strong> {{ date }} <br />
  <br />
</p>
